no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
!
hostname {{item.hostname}}
!
interface loopback66
description Test Create Interface
ip address {{item.lo1ip}}